.p_cart {
  margin-top: 20px;
}
.product_list {
  display: flex;
  flex-wrap: wrap;
  margin: 20px -5px;
  padding: 0;
  justify-content: flex-start;
  .product_item {
    flex: 0 0 25%;
    max-width: 25%;
    padding: 0 10px 50px;
    margin-bottom: 0;
    display: flex;

    .product_item_inner {
      display: flex;
      flex-direction: column;
      width: 100%;
      background: #fff;
      border-radius: 5px;
      box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
      padding: 10px 10px;
      margin: auto;
      .p_item_img {
        text-align: center;
        border-bottom: 3px solid rgba(55, 73, 187, 0.03);
        flex: 0 0 220px;
        padding: 20px;
        margin: 0;
        a {
          height: 228px;

          margin: auto;
          max-width: 60%;
        }
      }

      .product_card_body {
        width: 100%;
        flex: 1 1 auto;
        padding: 20px 10px;
        margin: auto;

        .cart_title {
          margin: 0 0 15px;
          line-height: 20px;
          overflow: hidden;
          font-weight: 600;
          font-size: 14px;
          position: relative;
          height: auto;

          a {
            background-color: transparent;
          }
        }
        .card-text {
          padding: 15px 0;
          font-size: 16px;
        }
        .over_write {
          padding: 15px 0;
          font-size: 12px;
        }
        .short-description {
          padding: 10px 0 0 14px;
          flex: 1 1 auto;
          border-bottom: 1px solid #eee;
          margin-bottom: 5px;
          ul li {
            font-size: 13px;
            color: #666666;
            position: relative;
            line-height: 16px;
            padding-bottom: 10px;
          }
        }
        h5 .price {
          width: 100%;
          line-height: 35px;
          font-size: 17px;
          font-weight: 600;
          color: #ef4a23;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
      .flexbtn {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        .btn-cart {
          display: flex;
          flex-wrap: nowrap;
          line-height: 34px;
          background: #fff;
          background: rgba(55, 75, 185, 0.1);
          color: #3749bb;
          border-radius: 4px;
          font-size: 13px;
          font-weight: 600;
          padding: 0 5px;
          cursor: pointer;
          justify-content: center;
          align-content: center;
          text-decoration: none;
        }
        .btn-compare {
          display: flex;
          flex-wrap: nowrap;
          justify-content: center;
          align-content: center;
          cursor: pointer;
          background: none;
          margin-top: 10px;
          border-radius: 4px;
          border: none;
          color: #666666;
          font-weight: 400;
          font-size: 13px;
          text-decoration: none;
          padding: 5px;

          > i {
            padding-right: 7px;
          }

          &:hover {
            background: #e8ecec;
            transition: 0.1s;
          }
        }
      }
    }
  }
}

#popup_cart,
#popup_com {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10100;
  background: rgba(0, 0, 0, 0.5);
  text-align: center;
  .popup-inner {
    display: inline-block;
    position: relative;
    width: 800px;
    text-align: left;
    background: #fff;
    margin: 20px;
    border-radius: 0px;
    .msg-wrap {
      padding: 30px;
      .message-details {
        display: flex;
        margin-bottom: 20px;
        i {
          flex: 0 0 24px;
          width: 24px;
          color: #15b579;
        }

        .success-message {
          flex: 1 1 auto;
          padding: 4px 0 0 16px;
          line-height: 20px;
        }

        .cart-info {
          flex: 0 0 80px;
          padding: 10px 15px;
          border-radius: 5px;
          display: flex;
          flex-direction: column;
          border: 1px solid #eee;
          position: relative;
          z-index: 10;
          .cart-quantity {
            padding: 0 0 5px;
            display: flex;
            justify-content: space-between;
            color: #888;
            font-size: 14px;
            line-height: 20px;

            span {
              font-weight: bold;
              color: #111;
              font-size: 15px;
            }
          }

          .cart-total {
            padding: 0 0 5px;
            display: flex;
            justify-content: space-between;
            color: #888;
            font-size: 14px;
            line-height: 20px;

            span {
              font-weight: bold;
              color: #111;
              font-size: 15px;
            }
          }
        }
      }
      .btn-wrap {
        padding-left: 40px;

        .btn {
          background: #3749bb;
          display: inline-block;
          border: 2px solid #3749bb;
          padding: 0 20px;
          margin: 0;
          height: 42px;
          line-height: 38px;
          font-size: 14px;
          font-weight: 600;
          color: #fff;
          cursor: pointer;
          border-radius: 4px;
          outline: none;
          text-align: center;
          transition: all 300ms linear;
        }
        .st-outline {
          background: none;
          color: #3749bb;
        }
      }
    }
  }
  .popup-close {
    width: 30px;
    height: 30px;
    padding: 3px;
    display: inline-block;
    position: absolute;
    top: 5px;
    right: 2px;
    border: none;
    background: #fff;
    cursor: pointer;
  }
}

#popup_com.buy_popup_open {
  visibility: visible;
}
#popup_cart.buy_popup_open {
  visibility: visible;
}

@media (max-width: 768px) {
  .product_list {
    .product_item {
      flex: 0 0 50%;
      max-width: 50%;
      padding: 0 5px 10px;
      margin-bottom: 0;
      display: flex;
    }
  }
}

@media (max-width: 425px) {
  .product_list {
    .product_item {
      flex: 0 0 100%;
      max-width: 100%;
      padding: 0 5px 10px;
      margin-bottom: 0;
      display: flex;
    }
  }
}
