.build-your-pc {
    padding: 30px 0;
}
.pcb-container {
    border: 1px solid #c3c8eb;
    max-width: 950px;
    margin: 0 auto;
    background: #fff;
}

.pcb-head {
    background: #f9f9fc;
    border-bottom: 1px solid #c3c8eb;
    padding: 20px;
    display: flex;
}

.pcb-head h4 {
    margin: 0;
    font-size: 18px;
    max-width: 250px;
    color: #666666;
}

.pcb-head .title {
    flex: 0 0 auto;
}

.pcb-head .startech-logo {
    flex: 0 0 auto;
    display: flex;
    justify-content: center;
}

.pcb-head .startech-logo img {
    height: 43px;
    margin-left: 10px;
}

.pcb-head .actions {
    flex: 1 1 auto;
    padding-top: 0;
}

.pcb-head .actions .all-actions {
    display: flex;
    float: right;
}

.pcb-head .actions .action {
    display: inline-block;
    text-align: center;
    padding: 0 15px;
    background: none;
    border: none;
    color: #ef4a23;
    height: auto;
    line-height: normal;
    font-weight: normal;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    outline: none;
}

.pcb-head .actions .action:hover {
    box-shadow: none;
    text-decoration: none;
}

.pcb-head .action .action-text {
    display: block;
    white-space: nowrap;
    font-size: 12px;
    color: #666666;
    padding-top: 2px;
    min-width: 40px;
}

.pcb-head .actions .action:hover .action-text {
    color: #111;
}

.pcb-head .actions .pcb-button {
    margin-left: 20px;
}

.pcb-inner-content {
    margin: 25px auto;
    max-width: 800px;
}

.pcb-top-content {
    display: flex;
    margin: 0 0 30px;
}

.pcb-top-content > div {
    flex: 1 1 50%;
}
.pcb-top-content .right {
    text-align: right;
}

.pcb-top-content h1 {
    font-size: 15px;
    font-weight: bold;
    line-height: 18px;
    color: #3749bb;
    margin: 8px 0;
}

.pcb-container .alert {
    margin: 10px;
}

.pcb-top-content .checkbox-inline {
    color: #808996;
    font-size: 13px;
}

.pcb-top-content .total-amount {
    display: inline-block;
    border: 1px dashed #ef4a23;
    padding: 8px 0;
    margin-left: 10px;
    min-width: 140px;
    border-radius: 7px;
    text-align: center;
    color: #808996;
    position: relative;
}

.betaa {
    top: 5px;
    right: 8px;
    position: absolute;
    color: #3749bb;
    font-weight: bolder;
    font-size: 10px;
}

.pcb-top-content .total-amount.t-price {
    border: 1px solid #3749bb;
    color: #fff;
    background: #3749bb;
}

.pcb-top-content .total-amount .amount {
    font-size: 18px;
    color: #111;
    padding-bottom: 3px;
}
.pcb-top-content .total-amount.t-price .amount {
    color: #fff;
}

.pcb-top-content .total-amount .items {
    font-size: 11px;
    font-weight: bold;
}

.pcb-content .content-label {
    background: #808996;
    color: #fff;
    line-height: 20px;
    padding: 0 10px;
    font-size: 12px;
    font-weight: bold;
}

.pcb-content .c-item {
    display: flex;
    padding: 15px 10px;
    flex: 0 0 auto;
    border-bottom: 1px solid #eee;
}

.pcb-content .c-item .img {
    background: rgba(55, 73, 187, 0.1);
    border-radius: 3px;
    overflow: hidden;
    width: 60px;
    height: 60px;
    text-align: center;
    flex: 0 0 60px;
}

.pcb-content .c-item .img svg {
    margin-top: 14px;
}

.pcb-content .c-item .img img {
    width: 60px;
}

.pcb-content .c-item .img-ico {
    background: url(../img/icon/cpu.svg) no-repeat center;
    width: 60px;
    height: 60px;
    display: block;
}

.pcb-content .c-item .img-ico.cpu-cooler {
    background-image: url(../img/icon/cooler.svg);
}

.pcb-content .c-item .img-ico.ram---1,
.pcb-content .c-item .img-ico.ram---2 {
    background-image: url(../img/icon/ram.svg);
}

.pcb-content .c-item .img-ico.storage---1,
.pcb-content .c-item .img-ico.storage----2 {
    background-image: url(../img/icon/hdd.svg);
}

.pcb-content .c-item .img-ico.graphics-card {
    background-image: url(../img/icon/gcard.svg);
}

.pcb-content .c-item .img-ico.power-supply {
    background-image: url(../img/icon/psupply.svg);
}

.pcb-content .c-item .img-ico.casing {
    background-image: url(../img/icon/casing.svg);
}

.pcb-content .c-item .img-ico.monitor {
    background-image: url(../img/icon/monitor.svg);
}

.pcb-content .c-item .img-ico.keyboard {
    background-image: url(../img/icon/keyboard.svg);
}

.pcb-content .c-item .img-ico.mouse {
    background-image: url(../img/icon/mouse.svg);
}

.pcb-content .c-item .img-ico.optical-drive {
    background-image: url(../img/icon/cd.svg);
}

.pcb-content .c-item .img-ico.anti-virus {
    background-image: url(../img/icon/antivirus.svg);
}

.pcb-content .c-item .img-ico.operating-system {
    background-image: url(../img/icon/os.svg);
}

.pcb-content .c-item .img-ico.ups {
    background-image: url(../img/icon/ups.svg);
}

.pcb-content .c-item .img-ico.mother-board {
    background-image: url(../img/icon/mobo.svg);
}

.pcb-content .c-item .img-ico.casing-cooler {
    background-image: url(../img/icon/casing-cooler.svg);
}

.pcb-content .c-item .img-ico.headphone {
    background-image: url(../img/icon/headphone.svg);
}

.pcb-content .c-item .details {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 50px 0 20px;
}

.c-item .details .component-name {
    font-size: 12px;
    color: #3749bb;
    font-weight: bold;
    padding-bottom: 7px;
}

.c-item .details .product-watt {
    padding-top: 8px;
    font-size: 11px;
    font-weight: bold;
    line-height: 20px;
}

.c-item .details .product-watt img {
    float: left;
    margin-right: 5px;
}

.c-item.blank .details .component-name {
    color: #666666;
}

.c-item .details .component-name .mark {
    margin-left: 5px;
    background: #808996;
    color: #fff;
    padding: 1px 4px;
    border-radius: 2px;
    font-weight: normal;
}

.c-item .details .product-name {
    line-height: 15px;
}
.c-item .details .pcb-add-another {
    margin-top: 12px;
}
.c-item .details .pcb-add-another a {
    line-height: 20px;
    display: inline-block;
    padding: 0 10px;
    font-size: 12px;
    font-weight: bold;
    color: #3749bb;
    background: rgba(55, 73, 187, 0.1);
    text-decoration: none;
}
.c-item .details .pcb-add-another a:hover {
    color: #fff;
    background: #3749bb;
}

.c-item .item-price {
    flex: 0 0 100px;
    margin: 10px 0;
    padding-right: 20px;
    display: flex;
    align-items: center;
    border-right: 1px solid #eee;
}

.c-item .item-price .price {
    flex: 1 1 auto;
    font-size: 16px;
    font-weight: bold;
    text-align: right;
}

.c-item .actions {
    flex: 0 0 110px;
    text-align: right;
    padding-top: 8px;
}

.c-item.blank .details .product-name {
    background: #f2f3f4;
    min-height: 12px;
    max-width: 80%;
    margin-top: 4px;
}

.c-item.blank .item-price:after {
    content: "";
    display: block;
    min-height: 12px;
    background: #f2f3f4;
    width: 100%;
}

.c-item .actions .action-items {
    text-align: center;
    padding: 8px 0 0 20px;
}
.c-item .actions .stock-status {
    text-transform: capitalize;
}

.c-item .actions .action-items a {
    color: #666666;
}

.c-item .actions .action-items a:hover {
    color: #ef4a23;
}

.pc-info .c-item .actions {
    padding-top: 22px;
}

.c-item.blank.pchide {
    display: none;
}
/*----------------------------------------------- choose products --------------------------------------*/
.top-bar .actions {
    display: flex;
}

.top-bar .search {
    background: #f1f3f5;
    border-radius: 3px;
    position: relative;
    padding: 1px;
    display: flex;
}

.top-bar .search input {
    float: left;
    height: 28px;
    border: none;
    padding: 0 10px;
    background: none;
    outline: none;
}

.top-bar .search i {
    line-height: 30px;
    font-size: 20px;
    cursor: pointer;
}

.product-thumb {
    display: flex;
    margin-bottom: 10px;
}

.product-thumb .img-holder {
    flex: 0 0 200px;
    padding: 10px;
    margin: 0;
    text-align: center;
}

.product-thumb .product-info {
    padding: 20px;
    flex: 1 1 auto;
    display: flex;
    align-items: center;
}

.product-thumb .product-content-blcok {
    flex: 1 1 auto;
}

.product-thumb .product-info h4 {
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 14px;
    position: relative;
    height: auto;
}

.product-thumb .product-name a {
    color: #111;
}

.product-thumb .short-description {
    padding: 0 0 0 14px;
    flex: 1 1 auto;
    margin-bottom: 5px;
}

.product-thumb .short-description li {
    font-size: 13px;
    padding: 5px 0;
    color: #666666;
    position: relative;
    line-height: 16px;
}

.product-thumb .actions {
    flex: 0 0 95px;
}

.product-thumb .actions .price {
    font-size: 20px;
    text-align: center;
}
.product-thumb .actions .price-old {
    font-size: 16px;
    font-weight: 600;
    text-decoration: line-through;
    color: #666666;
    padding-left: 5px;
}
.product-thumb .btn {
    display: block;
    min-width: 100px;
    text-align: center;
    margin-top: 15px;
}

.pc-builder-choose-content .tool-btn i {
    line-height: 30px;
    height: 30px;
    margin-right: 10px;
    color: #111;
}
.pc-builder-choose-content [data-group-type="status"] {
    display: none;
}

@media screen and (max-width: 991px) {
    .pc-builder-choose-content #content {
        padding-left: 15px;
    }
    .pcb-container {
        margin-bottom: 20px;
        box-shadow: none;
        margin-top: 0;
    }
    .pcb-inner-content {
        margin: 0;
    }
    .pcb-top-content {
        flex-direction: column;
        align-items: center;
        margin-bottom: 15px;
    }
    .pcb-top-content .left {
        padding: 10px 0;
    }

    .pcb-head {
        padding: 10px;
    }
    .pcb-head .startech-logo img {
        height: 38px;
        margin-left: 0;
    }
    .pcb-head .actions {
        display: flex;
        justify-content: flex-end;
    }
    .pcb-head .action .action-text {
        display: none;
    }
    .pcb-head .actions .action {
        padding: 0 8px;
        margin-right: 0;
        display: flex;
        align-items: center;
        height: 42px;
        width: auto;
        float: left;
    }
    .pcb-head .actions .pcb-button {
        margin-left: 10px;
        padding: 0 10px;
        float: right;
        white-space: nowrap;
    }
    .pcb-content .c-item .details {
        flex: 1 1 auto;
        padding-right: 0px;
    }
    .pcb-content .c-item.selected .details {
        border-right: none;
        max-width: calc(100% - 160px);
    }
    .pcb-content .c-item {
        padding: 10px;
        position: relative;
    }
    .pcb-content .c-item.selected {
        flex-wrap: wrap;
    }
    .c-item .component-name .mark,
    .c-item.blank .item-price {
        display: none;
    }
    .c-item.selected .item-price {
        padding-right: 0;
        border-right: none;
        margin: 28px 0 0;
        align-items: flex-start;
    }
    .c-item.selected .actions {
        position: absolute;
        right: 7px;
        top: 7px;
        padding: 0;
    }
    .c-item.selected .action-items {
        padding: 0;
    }
    .c-item.selected .action-items a {
        display: inline-block;
        padding: 3px;
    }
    .c-item.selected .action-items a .material-icons {
        font-size: 20px;
        height: 20px;
        width: 20px;
        color: #444;
    }
    .c-item .item-price .price {
        padding-top: 2px;
    }
    .product-thumb {
        flex: 1 1 100%;
        max-width: 100%;
        flex-wrap: wrap;
    }

    .product-thumb .img-holder {
        text-align: center;
        flex: 0 0 100%;
    }
    .product-thumb .product-info {
        display: block;
        padding: 0 20px 20px;
    }
    .product-thumb .product-content-blcok {
        padding-right: 0;
    }
    .product-thumb .actions {
        padding: 10px 0 0;
        text-align: left;
    }
}
@media (max-width: 1279px) {
    .m-hide {
        display: none !important;
    }
}
