.cart_preloader {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0);

  .circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    background: transparent;
    border: 3px solid rgb(0, 60, 255);
    border-top: 3px solid rgb(255, 72, 0);

    border-radius: 50%;
    animation: round infinite 0.6s ease-in-out;

    .inner_circle {
      width: 20px;
      height: 20px;
      background: rgb(0, 0, 163);
      border-radius: 50%;
    }
  }

  @keyframes round {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(180deg);
    }

    100% {
      transform: rotate(180deg);
    }
  }
}
