.p-tb-15 {
    padding-top: 15px;
    padding-bottom: 15px;
}

.ws-box {
    padding: 15px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
.ws-box h1.title {
    font-size: 24px;
    font-weight: 400;
    margin: 0 0 20px;
}
.ws-box .table-responsive {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.ws-box .table-responsive .table-bordered {
    width: 100%;
}
.ws-box .table-responsive .table-bordered thead td {
    padding: 14px 10px;
    color: #666666;
    font-size: 13px;
    font-weight: 600;
    background: #f5f7f9;
}
.ws-box .table-responsive .table-bordered tbody tr td {
    padding: 12px 10px;
    border-bottom: 1px solid #eee;
}
.ws-box .table-responsive .table-bordered tbody tr td .cart_item_img_s {
    width: 150px;
}
.ws-box .table-responsive .table-bordered tbody tr td a {
    display: inline-block;
    margin-bottom: 5px;
    color: #111;
    font-size: 16px;
}
.ws-box .table-responsive .table-bordered tbody tr td a img {
    max-width: 40% !important;
}
.ws-box .table-responsive .table-bordered tbody tr td .cart_item_remove #inp {
    width: 30px;
}
.ws-box .table-responsive .table-bordered tbody tr td .total_price {
    width: 80px;
}
.ws-box .table-responsive .table-bordered tbody tr td .input-group.btn-block {
    width: 150px;
    display: flex;
}
.ws-box .table-responsive .table-bordered tbody tr td .input-group.btn-block .input-group-btn {
    display: flex;
    margin-left: 10px;
}
.ws-box .table-responsive .table-bordered tbody tr td .input-group.btn-block .input-group-btn .btn {
    position: relative;
    overflow: hidden;
    transition: 0.5s;
}
.ws-box .table-responsive .table-bordered tbody tr td .input-group.btn-block .input-group-btn .btn::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: -100px;
    left: 0;
    background: #0146a7a6;
    z-index: -99;
}
.ws-box .table-responsive .table-bordered tbody tr td .input-group.btn-block .input-group-btn button {
    border: none;
    background: #fff;
    padding: 0;
    margin-right: 5px;
    color: #888;
    box-shadow: none;
}
.ws-box .table-responsive .table-bordered tbody tr td .input-group.btn-block input {
    flex: 1 1 auto;
}
.ws-box .table-responsive .table-bordered tbody tr td .input-group.btn-block input,
.ws-box .table-responsive .table-bordered tbody tr td .input-group.btn-block select,
.ws-box .table-responsive .table-bordered tbody tr td .input-group.btn-block textarea {
    font-size: 15px;
    height: 42px;
    padding: 5px 15px;
    background: #fff;
    outline: none;
    width: 100%;
    font-family: "Trebuchet MS", sans-serif;
    border: 1px solid #ddd;
    border-radius: 4px;
}
.ws-box .table-responsive .table-bordered tbody.close {
    display: none;
}
.ws-box .table-responsive .bg-white {
    background-color: #ffffff;
}
.ws-box .row {
    display: flex;
    justify-content: end;
    width: 100%;
}
.ws-box .row .col-md-6 {
    max-width: 100%;
}
.ws-box .row .col-md-6 table.cart-total {
    float: right;
    max-width: 300px;
    margin: 20px 0 40px;
}
.ws-box .row .col-md-6 table.cart-total tbody td {
    padding: 12px 10px;
    border-bottom: 1px solid #eee;
}
.ws-box .row .col-md-6 table.cart-total tbody tr td.amount {
    font-weight: bold;
    color: #ef4a23;
}
.ws-box .row.close {
    display: none;
}
.ws-box .title {
    font-size: 20px;
}
.ws-box .title.close {
    display: none;
}
.ws-box p {
    margin-bottom: 10px;
    font-size: 15px;
    color: #01132d;
    line-height: 26px;
}
.ws-box p.close {
    display: none;
}
.ws-box .page-section {
    width: 100%;
    background: #f1f5f9;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
.ws-box .page-section .row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.ws-box .page-section .row .col-md-6 {
    padding: 0 20px;
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.ws-box .page-section .row .col-md-6 .input-group {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.ws-box .page-section .row .col-md-6 .input-group input {
    flex: 1 1 auto;
}
.ws-box .page-section .row .col-md-6 .input-group input,
.ws-box .page-section .row .col-md-6 .input-group select,
.ws-box .page-section .row .col-md-6 .input-group textarea {
    font-size: 15px;
    height: 42px;
    padding: 5px 15px;
    background: #fff;
    outline: none;
    width: 100%;
    font-family: "Trebuchet MS", sans-serif;
    border: 1px solid #ddd;
    border-radius: 4px;
}
.ws-box .page-section .row .col-md-6 .input-group .input-group-btn {
    display: flex;
    flex: 0 0 auto;
    margin-left: 10px;
}
.ws-box .page-section .row .col-md-6 .input-group .input-group-btn .btn {
    background: #3749bb;
    display: inline-block;
    border: 2px solid #3749bb;
    padding: 0 20px;
    margin: 0;
    height: 42px;
    line-height: 38px;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
    outline: none;
    text-align: center;
    transition: all 300ms linear;
}
.ws-box .page-section .row .col-md-6 .input-group .input-group-btn .st-outline {
    background: none;
    color: #3749bb;
}
.ws-box .page-section.close {
    display: none;
}
.ws-box .buttons {
    display: flex;
    width: 100%;
    justify-content: space-between;
    border-top: 1px solid #eee;
    margin-bottom: 70px;
    padding-top: 30px;
}
.ws-box .buttons .pull-right .st-outline {
    background: none;
    color: #3749bb;
}
.ws-box .buttons .pull-right .btn {
    background: #3749bb;
    display: inline-block;
    border: 2px solid #3749bb;
    padding: 0 20px;
    margin: 0;
    height: 42px;
    line-height: 38px;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
    outline: none;
    text-align: center;
    transition: all 300ms linear;
}
.ws-box .buttons #pull-right.close {
    display: none;
}

@media (max-width: 768px) {
    .pro_img,
.pro_model,
.pro_unitprice {
        display: none;
    }

    .ws-box h1.title {
        font-size: 18px;
    }
    .ws-box form .table-responsive .table-bordered {
        width: 100%;
    }
    .ws-box form .table-responsive .table-bordered thead td {
        padding: 14px 10px;
    }
    .ws-box form .table-responsive .table-bordered thead tr {
        display: flex;
        justify-content: space-between;
    }
    .ws-box form .table-responsive .table-bordered thead tr .rs-none {
        display: none;
    }
    .ws-box form .table-responsive .table-bordered thead tr:nth-child(2) {
        width: 30%;
    }
    .ws-box form .table-responsive .table-bordered tbody tr {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .ws-box form .table-responsive .table-bordered tbody tr .rs-none {
        display: none;
    }
    .ws-box form .table-responsive .table-bordered tbody tr .text-right {
        padding-right: 20px;
        padding-bottom: 35px;
    }
    .ws-box form .table-responsive .table-bordered tbody tr .cart_item_remove {
        width: 100px;
    }
    .ws-box form .table-responsive .table-bordered tbody tr td {
        padding: 12px 10px;
        border-bottom: 1px solid #eee;
    }
    .ws-box form .table-responsive .table-bordered tbody tr td .input-group.btn-block {
        width: 100px;
        display: flex;
    }
    .ws-box form .table-responsive .table-bordered tbody tr td .input-group.btn-block .form-control {
        width: 60px;
    }
    .ws-box form .table-responsive .table-bordered tbody tr td:nth-child(1) {
        width: 50%;
    }
    .ws-box .page-section {
        width: 100%;
        background: #f1f5f9;
        border-radius: 5px;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    }
    .ws-box .page-section .row {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .ws-box .page-section .row .col-md-6 {
        padding: 10px 20px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
@media (max-width: 426px) {
    .ws-box h1.title {
        font-size: 18px;
    }
    .ws-box form .table-responsive .table-bordered {
        width: 100%;
    }
    .ws-box form .table-responsive .table-bordered tbody tr {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .ws-box form .table-responsive .table-bordered tbody tr .rs-none {
        display: none;
    }
    .ws-box form .table-responsive .table-bordered tbody tr .text-right {
        padding-right: 20px;
        padding-bottom: 35px;
    }
    .ws-box form .table-responsive .table-bordered tbody tr .cart_item_remove {
        width: 70px;
    }
    .ws-box form .table-responsive .table-bordered tbody tr .total_price {
        width: 50px;
    }
    .ws-box form .table-responsive .table-bordered tbody tr td {
        padding: 8px 5px;
        border-bottom: 1px solid #eee;
    }
    .ws-box form .table-responsive .table-bordered tbody tr td .input-group.btn-block {
        width: 80px;
        display: flex;
    }
    .ws-box form .table-responsive .table-bordered tbody tr td .input-group.btn-block .form-control {
        width: 40px;
    }
    .ws-box form .table-responsive .table-bordered tbody tr td:nth-child(1) {
        width: 70%;
    }
}